<html>
<head>
    <title>
    Pagina de teste de funcionalidades
    </title>
</head>
<body>
    <h1> TITULO DA PÁGINA </h1>
    <hr/>

    <p>Olá, mundo!!</p>
    {{n1}}+{{n2}}={{somar}}
</body>
</html>