<html>
<head>
    <title>
    Primeira pagina
    </title>
</head>
<body>
    <h1> TITULO DA PÁGINA </h1>
    <hr/>

    <p>Olá, mundo!!</p>
    <p>Bem vindo(a), caro(a) {{user}}!</p>
    <p>Você conhece o {{obj.nome}} que tem {{obj.idade}} anos?</p>
</body>
</html>